@model PepsArts.Models.Exhibition

@{
    ViewBag.Title = "UpdateStatus";
}

<h2>UpdateStatus</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="/Exhibition/UpdateStatus" method="post">
                <input type="hidden" value="@Model.Id" name="Id" />
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Exhibition Title:</label>
                            <h3>@Model.Name</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Status:</label>
                            <select id="status" name="Status" class="form-control">
                                <option value="Upcoming" @(Model.Status == "Upcoming" ? "selected" : "")>Upcoming</option>
                                <option value="Active" @(Model.Status == "Active" ? "selected" : "")>Active</option>
                                <option value="Completed" @(Model.Status == "Completed" ? "selected" : "")>Completed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            
                            <button class="btn btn-block btn-success form-control" type="submit" name="btnStatus">Update Status</button>
                            <br />
                            <a href="/Exhibition/ViewExhibitions" class="btn btn-dark"> Go Back...</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
